body {
  margin: 0;
  width: 100%;
}

 @page{size: auto}

h1 {
  font-size:250px;
  margin:0;
}

div.sign-container {
  width:100%;
  padding-bottom: 70.59%;
  overflow:hidden;
  position:relative;
}
div.sign {
  display:flex;
  justify-content:space-around;
  align-items:center;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
#background {
  position: absolute;
  top:0;
  width: 100%;
  z-index: -1;
}

@media print {
  div#signSettings{
    display:none;
  }
}
